= render '/application/mailer_doctype'
%html
  %h4.author-action= t(:"email.new_motion_created.author_proposed", author: @motion.author_name)
  %h2= link_to @motion.name, motion_path(@motion)+'?from_email=true'

  -if @rendered_motion_description.present?
    = @rendered_motion_description

  %h4.closes-in-text
    = t(:"email.proposal_closing_soon.closes_on")
  = @motion.closing_at.in_time_zone(TimeZoneToCity.convert @user.time_zone).strftime('%a %-d %b -%l:%M%P  (%Z %z)')

  - unless @motion.user_has_voted?(@user)
    %h4.have-say-title= t(:"help.have_your_say")
    =render '/motion_mailer/vote_buttons'
    %br

  %h4.positions-title= t(:positions).capitalize
  %table
    -last_vote = @motion.unique_votes.count - 1
    -@motion.unique_votes.each_with_index do |vote, i|
      %tr{ :class => ("cell-border-bottom" unless i==last_vote) }
        %td= vote.user_name
        %td.proposal-position{class: vote.position_to_s}= vote.position_to_s
        %td
          -if vote.statement.present?
            = vote.statement

  =render 'unsubscribe_link'
