= render '/application/mailer_doctype'
%html
  %h4.author-action= t(:"email.new_motion_created.author_proposed", author: @motion.author_name)
  %h2= link_to @motion.name, motion_path(@motion)

  -if @rendered_motion_description.present?
    = @rendered_motion_description

  %h4.have-say-title= t(:"help.have_your_say")
  = render 'vote_buttons'

  %p.closes-in-text
    = t(:"email.proposal_closing_soon.closes_in") +': ' + time_ago_in_words(@motion.closing_at)
    %br

  = render 'user_mailer/unsubscribe_link'
